# 4 way to write a string

### way:1 under double quotation mark (" ")

In [1]:
print( type ("This is a string"))

<class 'str'>

### way:2 under single quotation mark (' ')

In [6]:
print( type('This is string'))

<class 'str'>

In [7]:
print( type("111"))

<class 'str'>

In [8]:
print( type("1.11"))

<class 'str'>

### way:3 under triple ,double quotation mark ("""  """)

In [9]:
print( type(""" This is a string """))

<class 'str'>

### way:4 under triple ,single quotation mark ('''  ''')

In [10]:
print( type(''' This is a string'''))

<class 'str'>

# Type integer

In [2]:
print( type (100))

<class 'int'>

# Type float

In [3]:
print(type(3.14))

<class 'float'>

# Type bool

In [4]:
print( type(True))

<class 'bool'>

In [5]:
print( type(False))

<class 'bool'>

# each coma(,) inside print() funtion is specified a space

In [11]:
print(2,4,6)

2 4 6

# print() funtion can recieve any type of data
### each coma ( ,) is an one space

In [13]:
print( 2, "This is a string" , 3.14 , True, False)

2 This is a string 3.14 True False